:root {
  --text-clr: #ffffff;
  --shadow-clr: rgba(0, 0, 0, 0.25);
  --main-box-clr: #836ecf;
  --simple-box-clr: #af79ce;
  --two-columns-box-clr: #df70c3;
  --three-columns-box-clr: #7a81eb;
  --border-radius: 8px;
}

.app {
  width: 100%;
  min-height: 100dvh;
  padding: 1rem;
  letter-spacing: 1px;
  position: relative;
}

.flex {
  display: flex;
}

.search {
  width: 320px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 50%);
  box-shadow: 0px 5px 10px 0px var(--shadow-clr);
}

.search input {
  font-size: 1rem;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 4px 0 0 4px;
  background-color: var(--text-clr);
}

.search button {
  font-size: 1rem;
  width: 50px;
  border: none;
  border-radius: 0 4px 4px 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--text-clr);
}

.bento {
  max-width: 1100px;
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  grid-auto-rows: 190px;
  gap: 1rem;
  margin-inline: auto;
  color: var(--text-clr);
}

.bento__box {
  text-shadow: 0px 0px 10px var(--shadow-clr);
  border-radius: var(--border-radius);
  box-shadow: 0px 5px 10px 0px var(--shadow-clr);
}

.main_box {
  grid-column: span 2;
  grid-row: span 3;
  flex-direction: column;
  padding: 2.5rem 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-box-clr);
  text-align: center;
}

.city_name {
  font-size: 2rem;
  font-weight: normal;
}

.main_box .icon {
  width: 13rem;
}

.weather {
  font-size: 1.5rem;
  font-weight: 200;
}

.weather_details {
  flex-direction: column;
  gap: 5px;
}

.simple_box {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  font-size: 2.2rem;
  background-color: var(--simple-box-clr);
}

.simple_box span {
  font-size: 1.5rem;
}

.time {
  gap: 1rem;
  min-height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.time svg {
  width: 32px;
}

.column_span--2 {
  grid-column: span 2;
  flex-direction: row;
  background-color: var(--two-columns-box-clr);
}

.column_span--3 {
  grid-column: span 3;
  gap: 0.5rem;
  padding: 0.5em 1em;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--three-columns-box-clr);
}

.day {
  font-size: 1.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.day__date {
  font-weight: normal;
}

.day__temp {
  font-weight: 300;
  text-align: center;
}

@media (max-width: 1095px) {
  .column_span--3 {
    grid-column: span 4;
  }
}

@media (max-width: 880px) {
  .column_span--2 {
    grid-column: span 2;
  }
  .column_span--3 {
    grid-column: span 3;
  }
}

@media (max-width: 700px) {
  .bento {
    grid-template-columns: 1fr;
    grid-auto-rows: 250px;
  }

  .main_box {
    grid-row: span 2;
  }

  .bento__box {
    grid-column: span 1;
  }

  .column_span--3 {
    grid-row: span 6;
    gap: 2rem;
    flex-direction: column;
  }

  .day {
    flex: 1;
    gap: 1.5rem;
    font-size: 2rem;
  }
}
